* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 100px;
    padding-top: 40px;
}

.navbar {
    max-width: 1320px;
    margin: auto;
}

.logo {
    float: auto;
}

.nav {
    float: auto;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.795);
    padding: 5px 9px;
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 5px;
    margin: top 100px;
}

.nav-link:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.nav-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    border-radius: 5px;
}

.nav-btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}


.btn {
    letter-spacing: 2px;
    font-weight: 600;
    padding: 8px 8px;
    border-radius: 4px;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-orange {
    background-color: rgba(0, 255, 106, 0.571);
}

.btn-green {
    background-color: rgb(0, 0, 0);
}

.btn-close {
    border-radius: 50%;
    padding: 3px;
    color: rgb(0, 0, 0);
    transform: translateX(-30px);
    opacity: 0.5;
}

.search:hover .btn-close {
    opacity: 0;
}

.search {
    font-size: 18px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 8px;
    outline: none;
}


.container {
    max-width: 1220px;
    margin: 50px auto;
    border: 1px solid transparent;
}

.card {
    border: 1px solid darkgray;
    display: inline-block;
    width: 23%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 50, 0.16) 0px 1px 4px;
    padding: 10px;
}

.card-img {
    width: 100%;
    border-radius: 10px;
    padding: 2px;
    box-shadow: rgba(188, 188, 188, 0.02) 0px 1px 3px 0px, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
}

.card-body {
    padding: 5px 0px;
}

.card-body h4,
button,
h3 {
    margin-bottom: 11px;
}

.card-text {
    text-align: start;
    margin-top: 30px;
}


.float-left {
    float: left;
    color: black;
}

.float-right {
    float: right;
}


.slide-up {
    transition: all 0.4s;
}

.slide-up:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.zoom-in {
    transform: all 0.4s;
}

.zoom-in:hover {
    transform: scale(1.1);
}